.header {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    column-gap: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: black;
    color: white;
}

.textimage {
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: black;
    color: white;
}

.caracteristicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    row-gap: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 75px;
    background-color: #1e1a13;
    color: white;
}

.images {
    display: flex;
    justify-content: space-around;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 73px;
    padding-bottom: 73px;
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 102px;
    background-color: #1e1a13;
    color: white;
}